In [1]:
import nltk
import pandas as pd
import numpy as np

In [2]:
links=pd.read_csv(r"C:\Users\Shaivy\Downloads\ml-latest-small\ml-latest-small\links.csv")
movies=pd.read_csv(r"C:\Users\Shaivy\Downloads\ml-latest-small\ml-latest-small\movies.csv")
ratings=pd.read_csv(r"C:\Users\Shaivy\Downloads\ml-latest-small\ml-latest-small\ratings.csv")
tags=pd.read_csv(r"C:\Users\Shaivy\Downloads\ml-latest-small\ml-latest-small\tags.csv")
links.head(10)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
5        6  113277    949.0
6        7  114319  11860.0
7        8  112302  45325.0
8        9  114576   9091.0
9       10  113189    710.0

In [3]:
movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [4]:
print(ratings.head(10))

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [5]:

print(tags.head(10))

   userId  movieId                tag   timestamp
0       2    60756              funny  1445714994
1       2    60756    Highly quotable  1445714996
2       2    60756       will ferrell  1445714992
3       2    89774       Boxing story  1445715207
4       2    89774                MMA  1445715200
5       2    89774          Tom Hardy  1445715205
6       2   106782              drugs  1445715054
7       2   106782  Leonardo DiCaprio  1445715051
8       2   106782    Martin Scorsese  1445715056
9       7    48516       way too long  1169687325

In [4]:
# Merge datasets based on movieId
movie_data = links.merge(movies, on='movieId')
movie_data = movie_data.merge(ratings, on='movieId')
movie_data = movie_data.merge(tags, on=['userId', 'movieId'], how='left')

# Display the first few rows of the consolidated dataset
print(movie_data.head())

   movieId  imdbId  tmdbId             title
0        1  114709   862.0  Toy Story (1995)  \
1        1  114709   862.0  Toy Story (1995)
2        1  114709   862.0  Toy Story (1995)
3        1  114709   862.0  Toy Story (1995)
4        1  114709   862.0  Toy Story (1995)

                                        genres  userId  rating  timestamp_x
0  Adventure|Animation|Children|Comedy|Fantasy       1     4.0    964982703  \
1  Adventure|Animation|Children|Comedy|Fantasy       5     4.0    847434962
2  Adventure|Animation|Children|Comedy|Fantasy       7     4.5   1106635946
3  Adventure|Animation|Children|Comedy|Fantasy      15     2.5   1510577970
4  Adventure|Animation|Children|Comedy|Fantasy      17     4.5   1305696483

   tag  timestamp_y
0  NaN          NaN
1  NaN          NaN
2  NaN          NaN
3  NaN          NaN
4  NaN          NaN

In [5]:
movie_data.shape

(102677, 10)

In [6]:
movie_data.head(50)

,movieId,imdbId,tmdbId,title,genres,userId,rating,timestamp_x,tag,timestamp_y
0,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,NaN,NaN
1,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,NaN,NaN
2,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946,NaN,NaN
3,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970,NaN,NaN
4,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483,NaN,NaN
5,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,18,3.5,1455209816,NaN,NaN
6,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,4.0,965705637,NaN,NaN
7,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,21,3.5,1407618878,NaN,NaN
8,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,27,3.0,962685262,NaN,NaN
9,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,31,5.0,850466616,NaN,NaN
10,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,32,3.0,856736119,NaN,NaN
11,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,33,3.0,939647444,NaN,NaN
12,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,40,5.0,832058959,NaN,NaN
13,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,43,5.0,848993983,NaN,NaN
14,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,44,3.0,869251860,NaN,NaN
15,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,45,4.0,951170182,NaN,NaN
16,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,46,5.0,834787906,NaN,NaN
17,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,50,3.0,1514238116,NaN,NaN
18,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,54,3.0,830247330,NaN,NaN
19,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,57,5.0,965796031,NaN,NaN
20,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,63,5.0,1443199669,NaN,NaN
21,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,64,4.0,1161520134,NaN,NaN
22,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,66,4.0,1104643957,NaN,NaN
23,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,68,2.5,1158531426,NaN,NaN
24,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,71,5.0,864737933,NaN,NaN
25,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,73,4.5,1464196374,NaN,NaN
26,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,76,0.5,1439165548,NaN,NaN
27,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,78,4.0,1252575124,NaN,NaN
28,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,82,2.5,1084467729,NaN,NaN
29,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,86,4.0,1344082549,NaN,NaN
30,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,89,3.0,1520408314,NaN,NaN
31,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,90,3.0,856353996,NaN,NaN
32,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,91,4.0,1112713037,NaN,NaN
33,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,93,3.0,942767337,NaN,NaN
34,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,96,5.0,964772990,NaN,NaN
35,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,98,4.5,1532457849,NaN,NaN
36,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,103,4.0,1431954238,NaN,NaN
37,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,107,4.0,829322340,NaN,NaN
38,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,112,3.0,1442535639,NaN,NaN
39,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,119,3.5,1435942468,NaN,NaN
40,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,121,4.0,847656180,NaN,NaN
41,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,124,4.0,1336584336,NaN,NaN
42,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,130,3.0,832589610,NaN,NaN
43,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,132,2.0,1157921785,NaN,NaN
44,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,134,3.0,832841103,NaN,NaN
45,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,135,4.0,1009691859,NaN,NaN
46,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,137,4.0,1204859907,NaN,NaN
47,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,140,3.0,942924980,NaN,NaN
48,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,141,4.0,1513130643,NaN,NaN
49,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,144,3.5,1137323419,NaN,NaN

In [7]:
movie_data.tail(10)

,movieId,imdbId,tmdbId,title,genres,userId,rating,timestamp_x,tag,timestamp_y
102667,193565,1636780,71172.0,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1537098554,remaster,1.537099e+09
102668,193567,2323836,255413.0,anohana: The Flower We Saw That Day - The Movi...,Animation|Drama,184,3.0,1537099103,NaN,NaN
102669,193571,3110014,297825.0,Silver Spoon (2014),Comedy|Drama,184,4.0,1537099392,NaN,NaN
102670,193573,3837248,333623.0,Love Live! The School Idol Movie (2015),Animation,184,4.0,1537099811,NaN,NaN
102671,193579,5342766,360617.0,Jon Stewart Has Left the Building (2015),Documentary,184,3.5,1537107259,NaN,NaN
102672,193581,5476944,432131.0,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,1537109082,NaN,NaN
102673,193583,5914996,445030.0,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,1537109545,NaN,NaN
102674,193585,6397426,479308.0,Flint (2017),Drama,184,3.5,1537109805,NaN,NaN
102675,193587,8391976,483455.0,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021,NaN,NaN
102676,193609,101726,37891.0,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606,NaN,NaN

In [10]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Shaivy\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [11]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [8]:
df2=movie_data.drop(['imdbId','tmdbId','timestamp_x','timestamp_y'],axis='columns')
df2['tag'] = df2['tag'].fillna('noreaction')

In [9]:
df2.head()

,movieId,title,genres,userId,rating,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,noreaction
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,noreaction
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,noreaction
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,noreaction
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,noreaction

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [11]:
ratings_count_per_movie = df2.groupby('movieId')['rating'].count()
ratings_count_statistics = ratings_count_per_movie.describe()

# Display the statistics
print(ratings_count_statistics)

count    9724.000000
mean       10.559132
std        23.125936
min         1.000000
25%         1.000000
50%         3.000000
75%         9.000000
max       484.000000
Name: rating, dtype: float64

In [12]:

from nltk.stem import PorterStemmer





# Apply Porter stemming
stemmer = PorterStemmer()
df2['stemmed_genres'] = df2['genres'].apply(lambda genres: ' '.join([stemmer.stem(word) for word in genres.split('|')]))

# Count the number of unique stemmed genres
all_stemmed_genres = df2['stemmed_genres'].str.split().explode().str.strip().unique()
num_unique_stemmed_genres = len(all_stemmed_genres)

print("Number of unique stemmed genres:", num_unique_stemmed_genres)

Number of unique stemmed genres: 22

In [13]:
ratings_count_per_movie = df2.groupby('movieId')['rating'].count()
# Create a new DataFrame with ratings count
ratings_count_df = ratings_count_per_movie.reset_index()
ratings_count_df.columns = ['movieId', 'ratings_count']

# Merge ratings count into the original DataFrame
df3 = df2.merge(ratings_count_df, on='movieId', how='left')
df3.head()

,movieId,title,genres,userId,rating,tag,stemmed_genres,ratings_count
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,noreaction,adventur anim children comedi fantasi,215
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,noreaction,adventur anim children comedi fantasi,215
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,noreaction,adventur anim children comedi fantasi,215
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,noreaction,adventur anim children comedi fantasi,215
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,noreaction,adventur anim children comedi fantasi,215

In [18]:
df3.describe()

             movieId         userId         rating  ratings_count
count  102677.000000  102677.000000  102677.000000  102677.000000
mean    19742.712623     327.761933       3.514813      61.202869
std     35884.400990     183.211289       1.043133      68.342499
min         1.000000       1.000000       0.500000       1.000000
25%      1199.000000     177.000000       3.000000      14.000000
50%      3005.000000     328.000000       3.500000      39.000000
75%      8366.000000     477.000000       4.000000      85.000000
max    193609.000000     610.000000       5.000000     484.000000

In [14]:
print(df3['ratings_count'].describe())

count    102677.000000
mean         61.202869
std          68.342499
min           1.000000
25%          14.000000
50%          39.000000
75%          85.000000
max         484.000000
Name: ratings_count, dtype: float64

In [15]:
# Drop rows with ratings_count less than 50
df4 = df3[df3['ratings_count'] >= 50]
df4.describe()
df4.head()

,movieId,title,genres,userId,rating,tag,stemmed_genres,ratings_count
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,noreaction,adventur anim children comedi fantasi,215
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,noreaction,adventur anim children comedi fantasi,215
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,noreaction,adventur anim children comedi fantasi,215
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,noreaction,adventur anim children comedi fantasi,215
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,noreaction,adventur anim children comedi fantasi,215

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
print(df4['title'].unique())

['Toy Story (1995)' 'Jumanji (1995)' 'Grumpier Old Men (1995)'
 'Father of the Bride Part II (1995)' 'Heat (1995)' 'Sabrina (1995)'
 'GoldenEye (1995)' 'American President, The (1995)' 'Casino (1995)'
 'Sense and Sensibility (1995)' 'Ace Ventura: When Nature Calls (1995)'
 'Get Shorty (1995)' 'Leaving Las Vegas (1995)'
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)' 'Babe (1995)'
 'Dead Man Walking (1995)' 'Clueless (1995)' 'Seven (a.k.a. Se7en) (1995)'
 'Pocahontas (1995)' 'Usual Suspects, The (1995)'
 "Mr. Holland's Opus (1995)" 'From Dusk Till Dawn (1996)'
 'Broken Arrow (1996)' 'Happy Gilmore (1996)' 'Braveheart (1995)'
 'Taxi Driver (1976)' 'Birdcage, The (1996)' 'Bad Boys (1995)'
 'Apollo 13 (1995)' 'Batman Forever (1995)' 'Casper (1995)' 'Congo (1995)'
 'Crimson Tide (1995)' 'Desperado (1995)'
 'Die Hard: With a Vengeance (1995)' 'First Knight (1995)'
 'Johnny Mnemonic (1995)' 'Judge Dredd (1995)' 'Net, The (1995)'
 'Waterworld (1995)' 'Billy Madison (1995)' 'Clerks (1994)'
 'Disclosure (1994)' 'Dumb & Dumber (Dumb and Dumber) (1994)'
 'Ed Wood (1994)'
 'Interview with the Vampire: The Vampire Chronicles (1994)'
 'Star Wars: Episode IV - A New Hope (1977)' 'Legends of the Fall (1994)'
 'Natural Born Killers (1994)' 'Outbreak (1995)'
 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)'
 'Pulp Fiction (1994)' 'Quiz Show (1994)' 'Stargate (1994)'
 'Santa Clause, The (1994)' 'Shawshank Redemption, The (1994)'
 'Star Trek: Generations (1994)' 'Tommy Boy (1995)'
 "What's Eating Gilbert Grape (1993)" 'While You Were Sleeping (1995)'
 'Ace Ventura: Pet Detective (1994)' 'Clear and Present Danger (1994)'
 'Client, The (1994)' 'Crow, The (1994)' 'Forrest Gump (1994)'
 'Four Weddings and a Funeral (1994)' 'Lion King, The (1994)'
 'Mask, The (1994)' 'Maverick (1994)'
 'Naked Gun 33 1/3: The Final Insult (1994)' 'Speed (1994)'
 'True Lies (1994)' 'Addams Family Values (1993)'
 'Beverly Hills Cop III (1994)'
 "City Slickers II: The Legend of Curly's Gold (1994)"
 'Cliffhanger (1993)' 'Coneheads (1993)' 'Dave (1993)'
 'Demolition Man (1993)' 'Firm, The (1993)' 'Fugitive, The (1993)'
 'Hot Shots! Part Deux (1993)' 'In the Line of Fire (1993)'
 'Jurassic Park (1993)' 'Last Action Hero (1993)' 'Mrs. Doubtfire (1993)'
 'Philadelphia (1993)' 'Piano, The (1993)'
 'Robin Hood: Men in Tights (1993)' "Schindler's List (1993)"
 'Sleepless in Seattle (1993)' 'Blade Runner (1982)'
 'Nightmare Before Christmas, The (1993)' 'Three Musketeers, The (1993)'
 'Tombstone (1993)' 'True Romance (1993)' 'Home Alone (1990)'
 'Ghost (1990)' 'Aladdin (1992)' 'Terminator 2: Judgment Day (1991)'
 'Dances with Wolves (1990)' 'Batman (1989)'
 'Silence of the Lambs, The (1991)'
 'Snow White and the Seven Dwarfs (1937)' 'Beauty and the Beast (1991)'
 'Pinocchio (1940)' 'Pretty Woman (1990)' 'Fargo (1996)'
 'Mission: Impossible (1996)' 'Dragonheart (1996)' 'Space Jam (1996)'
 'Truth About Cats & Dogs, The (1996)' 'Rock, The (1996)' 'Twister (1996)'
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)'
 'Trainspotting (1996)' 'Independence Day (a.k.a. ID4) (1996)'
 'Cable Guy, The (1996)' 'Eraser (1996)' 'Nutty Professor, The (1996)'
 'Godfather, The (1972)' 'Vertigo (1958)' 'Rear Window (1954)'
 'North by Northwest (1959)' 'Some Like It Hot (1959)' 'Casablanca (1942)'
 'Wizard of Oz, The (1939)' 'Citizen Kane (1941)'
 '2001: A Space Odyssey (1968)' "It's a Wonderful Life (1946)"
 'Mary Poppins (1964)' 'Sound of Music, The (1965)' 'Die Hard (1988)'
 'Willy Wonka & the Chocolate Factory (1971)'
 'Fish Called Wanda, A (1988)' "Monty Python's Life of Brian (1979)"
 'Reservoir Dogs (1992)' 'Platoon (1986)'
 'E.T. the Extra-Terrestrial (1982)' 'Top Gun (1986)' 'Abyss, The (1989)'
 'Monty Python and the Holy Grail (1975)'
 'Wallace & Gromit: The Wrong Trousers (1993)'
 "One Flew Over the Cuckoo's Nest (1975)"
 'Star Wars: Episode V - The Empire Strikes Back (1980)'
 'Princess Bride, The (1987)'
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)'
 'Brazil (1985)' 'Aliens (1986)'
 'Good, the Bad and the Ugly, The (Buono, il brutto, il cattivo, Il) (1966)'
 '12 Angry Men (1957)' 'Clockwork Orange, A (1971)'
 'To Kill a Mockingbird (1962)' 'Apocalypse Now (1979)'
 'Star Wars: Episode VI - Return of the Jedi (1983)' 'Goodfellas (1990)'
 'Alien (1979)' 'Army of Darkness (1993)' 'Psycho (1960)'
 'Blues Brothers, The (1980)' 'Godfather: Part II, The (1974)'
 'Full Metal Jacket (1987)' 'Amadeus (1984)' 'Annie Hall (1977)'
 'Sting, The (1973)' 'Terminator, The (1984)' 'Dead Poets Society (1989)'
 'Graduate, The (1967)' 'Chinatown (1974)' 'Shining, The (1980)'
 'Stand by Me (1986)' 'Groundhog Day (1993)' 'Back to the Future (1985)'
 'Cool Hand Luke (1967)' 'Young Frankenstein (1974)' 'Fantasia (1940)'
 'This Is Spinal Tap (1984)' 'Indiana Jones and the Last Crusade (1989)'
 'Field of Dreams (1989)' 'Butch Cassidy and the Sundance Kid (1969)'
 'When Harry Met Sally... (1989)' 'Star Trek: First Contact (1996)'
 'Die Hard 2 (1990)' 'Star Trek II: The Wrath of Khan (1982)'
 'Batman Returns (1992)' 'Grease (1978)' 'Jaws (1975)'
 'Mars Attacks! (1996)' 'Jerry Maguire (1996)' 'Raising Arizona (1987)'
 'Scream (1996)' 'Donnie Brasco (1997)' 'Liar Liar (1997)'
 'Grosse Pointe Blank (1997)'
 'Austin Powers: International Man of Mystery (1997)'
 'Fifth Element, The (1997)' 'Lost World: Jurassic Park, The (1997)'
 'Con Air (1997)' 'Face/Off (1997)' 'Men in Black (a.k.a. MIB) (1997)'
 'Contact (1997)' 'Air Force One (1997)'
 'Hunt for Red October, The (1990)' 'L.A. Confidential (1997)'
 'Game, The (1997)' 'Chasing Amy (1997)' 'Full Monty, The (1997)'
 "The Devil's Advocate (1997)" 'Gattaca (1997)' 'Starship Troopers (1997)'
 'Truman Show, The (1998)' 'Good Will Hunting (1997)' 'Titanic (1997)'
 'Big Lebowski, The (1998)' 'Wedding Singer, The (1998)'
 'As Good as It Gets (1997)' 'Armageddon (1998)' 'Pi (1998)'
 "There's Something About Mary (1998)" 'Rocky (1976)' 'Rain Man (1988)'
 'Breakfast Club, The (1985)' 'Exorcist, The (1973)'
 'Lethal Weapon (1987)' 'Goonies, The (1985)' 'Mask of Zorro, The (1998)'
 'Back to the Future Part II (1989)' 'Back to the Future Part III (1990)'
 'Saving Private Ryan (1998)' 'Honey, I Shrunk the Kids (1989)'
 'Jungle Book, The (1967)' 'Lady and the Tramp (1955)'
 'Little Mermaid, The (1989)' 'Splash (1984)' 'Tron (1982)'
 'Indiana Jones and the Temple of Doom (1984)' 'Blade (1998)'
 'Beetlejuice (1988)' 'Untouchables, The (1987)' 'Few Good Men, A (1992)'
 'Edward Scissorhands (1990)' 'My Cousin Vinny (1992)'
 'Pleasantville (1998)' 'Life Is Beautiful (La Vita è bella) (1997)'
 'American History X (1998)' 'Enemy of the State (1998)'
 "Bug's Life, A (1998)" 'Rushmore (1998)' 'Shakespeare in Love (1998)'
 'Romancing the Stone (1984)' "You've Got Mail (1998)"
 'Crocodile Dundee (1986)' 'Office Space (1999)'
 'Planet of the Apes (1968)' 'Lock, Stock & Two Smoking Barrels (1998)'
 'Matrix, The (1999)' '10 Things I Hate About You (1999)'
 'Election (1999)' 'Mummy, The (1999)'
 'Star Wars: Episode I - The Phantom Menace (1999)' 'Superman (1978)'
 'Rocky Horror Picture Show, The (1975)' 'Notting Hill (1999)'
 'Austin Powers: The Spy Who Shagged Me (1999)'
 'Run Lola Run (Lola rennt) (1998)' 'Arachnophobia (1990)'
 'South Park: Bigger, Longer and Uncut (1999)' 'Wild Wild West (1999)'
 'American Pie (1999)' 'Blair Witch Project, The (1999)'
 'Eyes Wide Shut (1999)' 'Ghostbusters (a.k.a. Ghost Busters) (1984)'
 'Sixth Sense, The (1999)' 'Airplane! (1980)' 'Big (1988)'
 'Christmas Story, A (1983)' 'American Beauty (1999)'
 'Total Recall (1990)' "Ferris Bueller's Day Off (1986)"
 'Goldfinger (1964)' 'Fight Club (1999)' 'RoboCop (1987)'
 'Who Framed Roger Rabbit? (1988)' 'Being John Malkovich (1999)'
 'Princess Mononoke (Mononoke-hime) (1997)' 'Spaceballs (1987)'
 'Dogma (1999)' 'Sleepy Hollow (1999)' 'Toy Story 2 (1999)'
 'Green Mile, The (1999)' 'Magnolia (1999)' 'Galaxy Quest (1999)'
 'Talented Mr. Ripley, The (1999)' "Wayne's World (1992)"
 'Erin Brockovich (2000)' 'Animal House (1978)'
 'Close Encounters of the Third Kind (1977)' 'High Fidelity (2000)'
 'Hook (1991)' 'Misery (1990)' 'Predator (1987)' 'American Psycho (2000)'
 'Caddyshack (1980)' 'Gladiator (2000)' 'Mission: Impossible II (2000)'
 'Blazing Saddles (1974)' 'Gone in 60 Seconds (2000)' 'Chicken Run (2000)'
 'Patriot, The (2000)' 'Scary Movie (2000)' 'X-Men (2000)'
 'Almost Famous (2000)' 'Best in Show (2000)' 'Meet the Parents (2000)'
 'Requiem for a Dream (2000)' "Charlie's Angels (2000)"
 'Unbreakable (2000)'
 'Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)' 'Snatch (2000)'
 'What Women Want (2000)' 'Cast Away (2000)' 'Miss Congeniality (2000)'
 'O Brother, Where Art Thou? (2000)' 'Traffic (2000)' 'Memento (2000)'
 'Blow (2001)' "Bridget Jones's Diary (2001)" 'Scarface (1983)'
 'Shrek (2001)' 'Moulin Rouge (2001)'
 'A.I. Artificial Intelligence (2001)' 'Legally Blonde (2001)'
 'Others, The (2001)' 'Training Day (2001)' 'Zoolander (2001)'
 'Mulholland Drive (2001)' 'Donnie Darko (2001)' 'Monsters, Inc. (2001)'
 "Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)"
 "Ocean's Eleven (2001)"
 "Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)"
 'Royal Tenenbaums, The (2001)'
 'Lord of the Rings: The Fellowship of the Ring, The (2001)'
 'Beautiful Mind, A (2001)' 'Black Hawk Down (2001)' 'Ice Age (2002)'
 'My Big Fat Greek Wedding (2002)' 'Spider-Man (2002)'
 'Star Wars: Episode II - Attack of the Clones (2002)'
 'Bourne Identity, The (2002)' 'Minority Report (2002)'
 'Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)'
 'Road to Perdition (2002)' 'Austin Powers in Goldmember (2002)'
 'Signs (2002)' 'Spirited Away (Sen to Chihiro no kamikakushi) (2001)'
 'Bowling for Columbine (2002)'
 'Harry Potter and the Chamber of Secrets (2002)'
 'Lord of the Rings: The Two Towers, The (2002)'
 'Gangs of New York (2002)' 'Catch Me If You Can (2002)' 'Chicago (2002)'
 'City of God (Cidade de Deus) (2002)' 'X2: X-Men United (2003)'
 'Matrix Reloaded, The (2003)' 'Bruce Almighty (2003)'
 'Finding Nemo (2003)' 'Italian Job, The (2003)' '28 Days Later (2002)'
 'Pirates of the Caribbean: The Curse of the Black Pearl (2003)'
 'Lost in Translation (2003)' 'School of Rock (2003)'
 'Mystic River (2003)' 'Kill Bill: Vol. 1 (2003)'
 'Matrix Revolutions, The (2003)' 'Love Actually (2003)'
 'Last Samurai, The (2003)' 'Big Fish (2003)'
 'Lord of the Rings: The Return of the King, The (2003)'
 'Eternal Sunshine of the Spotless Mind (2004)' 'Kill Bill: Vol. 2 (2004)'
 'Shrek 2 (2004)' 'Day After Tomorrow, The (2004)'
 'Harry Potter and the Prisoner of Azkaban (2004)' 'Super Size Me (2004)'
 'Spider-Man 2 (2004)' 'Anchorman: The Legend of Ron Burgundy (2004)'
 'I, Robot (2004)' 'Bourne Supremacy, The (2004)'
 'Shaun of the Dead (2004)' 'Incredibles, The (2004)'
 'Million Dollar Baby (2004)' 'Charlie and the Chocolate Factory (2005)'
 'Sin City (2005)' 'Crash (2004)'
 'Star Wars: Episode III - Revenge of the Sith (2005)'
 'Mr. & Mrs. Smith (2005)' 'Batman Begins (2005)'
 'War of the Worlds (2005)' 'Wedding Crashers (2005)' 'Serenity (2005)'
 '40-Year-Old Virgin, The (2005)'
 'Harry Potter and the Goblet of Fire (2005)'
 'Chronicles of Narnia: The Lion, the Witch and the Wardrobe, The (2005)'
 'V for Vendetta (2006)' 'Da Vinci Code, The (2006)'
 'X-Men: The Last Stand (2006)'
 "Pirates of the Caribbean: Dead Man's Chest (2006)"
 'Little Miss Sunshine (2006)'
 'Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan (2006)'
 "Pan's Labyrinth (Laberinto del fauno, El) (2006)" 'Departed, The (2006)'
 'Children of Men (2006)' 'Prestige, The (2006)' 'Casino Royale (2006)'
 'Blood Diamond (2006)' 'Ratatouille (2007)' 'Hot Fuzz (2007)'
 '300 (2007)' 'Knocked Up (2007)'
 "Pirates of the Caribbean: At World's End (2007)"
 'Harry Potter and the Order of the Phoenix (2007)'
 'Bourne Ultimatum, The (2007)' 'Superbad (2007)'
 'No Country for Old Men (2007)' 'I Am Legend (2007)' 'Juno (2007)'
 'Dark Knight, The (2008)' 'Iron Man (2008)' 'Kung Fu Panda (2008)'
 'WALL·E (2008)' 'Slumdog Millionaire (2008)'
 'Inglourious Basterds (2009)' 'Star Trek (2009)' 'Up (2009)'
 'Hangover, The (2009)' 'Harry Potter and the Half-Blood Prince (2009)'
 'District 9 (2009)' 'Zombieland (2009)' 'Avatar (2009)'
 'Sherlock Holmes (2009)' 'Shutter Island (2010)'
 'How to Train Your Dragon (2010)' 'Toy Story 3 (2010)' 'Inception (2010)'
 'Social Network, The (2010)' "King's Speech, The (2010)"
 'Harry Potter and the Deathly Hallows: Part 2 (2011)'
 'Avengers, The (2012)' 'The Hunger Games (2012)'
 'Dark Knight Rises, The (2012)' 'Skyfall (2012)'
 'Django Unchained (2012)' 'Wolf of Wall Street, The (2013)'
 'Grand Budapest Hotel, The (2014)' 'Interstellar (2014)'
 'Guardians of the Galaxy (2014)' 'The Imitation Game (2014)'
 'Deadpool (2016)']

In [17]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics.pairwise import cosine_similarity

# Create a LabelEncoder to encode movie titles, users, and genres
movie_encoder = LabelEncoder()
user_encoder = LabelEncoder()
genre_encoder = LabelEncoder()

df4['movie_idx'] = movie_encoder.fit_transform(df4['title'])
df4['user_idx'] = user_encoder.fit_transform(df4['userId'])
df4['genre_idx'] = genre_encoder.fit_transform(df4['stemmed_genres'])

# Create a user-movie rating matrix
num_users = len(user_encoder.classes_)
num_movies = len(movie_encoder.classes_)
user_movie_matrix = np.zeros((num_users, num_movies))

for row in df4.itertuples():
    user_movie_matrix[row.user_idx, row.movie_idx] = row.rating

# Calculate cosine similarity between movies (considering both ratings and genres)
movie_similarity = cosine_similarity(user_movie_matrix.T)  # You can combine this with genre similarity

# Define K for KNN
K = 20

# Recommend movies for a given movie index
def recommend_movies(movie_idx):
    similar_movies = np.argsort(movie_similarity[movie_idx])[-K-1:-1]  # Exclude the movie itself
    return similar_movies

# Example: Recommend movies for a specific movie index
movie_idx = movie_encoder.transform(['Iron Man (2008)'])[0]
recommended_movie_indices = recommend_movies(movie_idx)

recommended_movies = movie_encoder.inverse_transform(recommended_movie_indices)
print("Recommended movies:")
for movie_title in recommended_movies:
    print(movie_title)

Recommended movies:
Bourne Ultimatum, The (2007)
Pirates of the Caribbean: The Curse of the Black Pearl (2003)
Lord of the Rings: The Two Towers, The (2002)
Casino Royale (2006)
Dark Knight Rises, The (2012)
Pirates of the Caribbean: Dead Man's Chest (2006)
Pirates of the Caribbean: At World's End (2007)
Lord of the Rings: The Return of the King, The (2003)
Kung Fu Panda (2008)
District 9 (2009)
Sherlock Holmes (2009)
Inception (2010)
Star Trek (2009)
Guardians of the Galaxy (2014)
Up (2009)
Batman Begins (2005)
Avatar (2009)
Avengers, The (2012)
WALL·E (2008)
Dark Knight, The (2008)

C:\Users\Shaivy\AppData\Local\Temp\ipykernel_16668\4120628826.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['movie_idx'] = movie_encoder.fit_transform(df4['title'])
C:\Users\Shaivy\AppData\Local\Temp\ipykernel_16668\4120628826.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['user_idx'] = user_encoder.fit_transform(df4['userId'])
C:\Users\Shaivy\AppData\Local\Temp\ipykernel_16668\4120628826.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['genre_idx'] = genre_encoder.fit_transform(df4['stemmed_genres'])